@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif !important;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
svg {
	width: 1.5rem;
}



/* start: Global */
:root {
	--white: #FFF;
	--black: #080D33;
	--yellow: #FFCC22;
	--yellow-100: #f0c020;
	--gray: #F5F5F5;
	--gray-100: #EEE;
	--gray-200: #CCC;
	--gray-500: #6D7280;
	--gray-800: #1e1e1e;
}
.container {
	max-width: 1320px;
	padding: 0 1rem;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.overflow-hidden {
	overflow: hidden;
}
section {
	padding: 3rem 0;
}



/* start: Buttons */
.btn {
	padding: .75rem 1.25rem;
	border-radius: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	transition: .2s;
	font-size: .875rem;
	white-space: nowrap;
	text-decoration: none;
	gap: .5rem;
	cursor: pointer;
	outline: none;
	border: 1px solid;
}
.btn-outline {
	padding: calc(.75rem - 1px) calc(1.25rem - 1px);
}
.btn svg {
	width: 1rem;
}
.btn-yellow {
	background-color: var(--yellow);
	color: var(--white);
	border-color: var(--yellow);
}
.btn-yellow:hover {
	background-color: var(--black);
}
.btn-black {
	background-color: var(--black);
	color: var(--white);
	border-color: var(--black);
}
.btn-black svg {
	fill: var(--white);
}
.btn-outline-black {
	background-color: transparent;
	border-color: var(--black);
	color: var(--black);
}
.btn-outline-black svg {
	fill: var(--black);
}
.btn-outline-black:hover {
	background-color: var(--black);
	color: var(--white);
}
.btn-outline-black:hover svg {
	fill: var(--white);
}

.btn-loading {
	position: relative;
}
.btn-loading.active {
	pointer-events: none;
}
.btn-loading.active::before,
.btn-loading.active::after {
	display: block;
}
.btn-loading::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	z-index: 1;
	display: none;
	border-radius: 2rem;
}
.btn-loading::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1rem;
	height: 1rem;
	border: 4px solid;
	border-color: transparent var(--black) var(--black);
	z-index: 2;
	border-radius: 50%;
	display: none;
	animation: rotate 1s linear infinite;
}
@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}
/* end: Buttons */



/* start: Form */
.form-control {
	padding: .75rem 1.25rem;
	font-size: .875rem;
	background-color: var(--white);
	border: 1px solid var(--gray-200);
	outline: none;
	display: block;
	border-radius: 2rem;
	width: 100%;
}
.form-control:focus {
	border-color: var(--black);
	box-shadow: 0 0 0 .25rem rgba(0, 0, 0, .05);
}
textarea.form-control {
	border-radius: .5rem;
	resize: vertical;
}
/* end: Form */
/* end: Global */



/* start: Responsive Breakpoints */
@media screen and (max-width: 1399px) {
	.container {
		max-width: 1140px;
	}
}



@media screen and (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
}



@media screen and (max-width: 991px) {
	.container {
		max-width: 720px;
	}
}



@media screen and (max-width: 767px) {
	.container {
		max-width: 540px;
	}
}



@media screen and (max-width: 575px) {
	.container {
		max-width: 100%;
	}
}
/* end: Responsive Breakpoints */